<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>
                <a href="edit/{{id}}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="sr-only">Edit</span>
                </a> |
               <a href="delete/?id={{id}}" onclick="if(!confirm('Are you sure?')){return false;}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>